/* CABEÇALHO */

.layout-cabecalho a {
    text-decoration: none;
 }
 
 .layout-cabecalho img {
     width: 120px;
 }

 .layout-cabecalho h1 {
    margin-left: 10px;

    color: #E30613;

    font-style: italic;
    font-weight: bolder;
}

.layout-cabecalho a {
    color: #ffffff;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
}

.layout-cabecalho a:hover{
    color: #E30613;
}

/* FIM CABEÇALHO */

/* PRINCIPAL */

.texto-principal>h1 {
    color: #E30613;

    font-style: italic;
}

.texto-principal>p {
    color: #ffffff;

    font-size: 1.5em;
}

/* FIM PRINCIPAL */

/* DEPOIMENTO */

.titulo-depoimento {
    color: #E30613;

    font-style: italic;
    text-align: center;
}

.depoimento>h4 {
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
    
    color: #1E9EE3;
    
    font-style: italic;
}

.depoimento__autor {
    text-align: center;
}

.depoimento>blockquote {
    padding-top: 20px;
    padding-bottom: 25px;
    margin: 0 auto;
    max-width: 80%;

    text-align: center;
    font-size: 1.25em;

    color: #ffffff;
}

/* FIM DEPOIMENTO */

/* RODAPÉ PÁG PRINCIPAL */

.info-empresa h3 {
    margin-bottom: 15px;
}

.icons-container {
    margin-top: 20px;
}

.icon-redes-sociais {
    margin-right: 15px;

    color: #E30613;
    
    font-size: 30px;
}

.rodape-logo>img {
    max-width: 100px;
}

/* FIM RODAPÉ PÁG PRINCIPAL */

/* FORMULÁRIO PÁG SOBRE */

.myBackground {
    color: white;
    
    background-image: url(/IMG/backgroundForm.png);
    background-size: cover;
}

.titulo-contato{
    margin-top: 30px;

    text-align: center;

    color: red;
    
    font-style: italic;
    font-weight: bold;
}

/* FIM FORMULÁRIO PÁG SOBRE*/

/* RODAPÉ PÁG SOBRE */

.rodape-sobre{
    display: flex;
    align-items: center;

    color: #e6e6e6;

}

.rodape-sobre h1{
    color: #E30613;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.rodape-sobre h2{
    color: #1E9EE3;

    font-style: italic;
    text-align: center;
    font-size: 2.5em;

    padding-top: 10px;
    
}

.rodape-sobre h5{
    text-align: center;
    font-style: italic;
    padding-bottom: 20px;
}

.rodape-sobre blockquote{
    font-size: 1.2em;
    text-align: center;
    position: relative;
    
}

.rodape-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-sobre blockquote::before{
    position: absolute;
    left: -40px;
    top: -60px;
    color: #e6e6e6;
    font-size: 6em;
    content: "\201C";
}

.rodape-sobre blockquote::after{
    position: absolute;
    right: -30px;
    color: #e6e6e6;
    font-size: 6em;
    content: "\201D";
}
/* FIM RODAPÉ PAG SOBRE */

/*PESQUISA*/
.pesquisa{
    background-color: #1c1c1c;
}
.produtos h1{
    color: #E30613;
    font-style: italic;
}
.pokemon__data{
    color: white;
}