/* CABEÇALHO */

.layout-cabecalho {
    width: 100%;
    height: 25vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: #ffffff;
    background-color: #1c1c1c;
}


.logo {
    height: 10vh;
    max-width: 80%;
    
    display: flex;
    align-items: center;
}

/* FIM CABEÇALHO */

/* LAYOUTS GERAIS */

body {
    width: 100%;
    min-height: 100vh;
}

.layout-principal {
    background-color: #000000;
}

.container-principal {
    margin: 15vh auto;
    margin-top: -5px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 80%;

    display: flex;
    align-items: center;
}

/* FIM LAYOUTS GERAIS */

/* CARROSSEL PÁG PRINCIPAL*/

.slideshow-container {
    max-width: 100vw;
    position: relative;
    margin: auto;   
    background-color: black;    
}
.imagem img {
    width: 100%;
}
.texto p {
    height: 100%;
    padding: 10%;
    text-align: justify;
    margin: 0 auto;
    width:100%;
    background-color: whitesmoke;
}
.anterior, .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
  }  
  /* On hover, add a black background color with a little bit see-through */
  .anterior:hover, .proximo:hover {
    background-color: rgba(144, 21, 21, 0.8);
  }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .passa {
    animation-name: fade;
    animation-duration: 1.5s;
  }  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* FIM CARROSSEL PÁG PRINCIPAL */


/* LAYOUT DEPOIMENTOS */

.layout-depoimentos {
    padding-top: 30px;
    margin-bottom: -140px;
    padding-bottom: 30px;

    background-color: #1c1c1c;
}

.linha-horizontal {
    margin: 30px auto;
    max-width: 70%;
    
    background-color: #e6e6e6;
    
    border: none;
    height: 1px;
}

/* FIM LAYOUT DEPOIMENTOS */

/* LAYOUT RODAPÉ PAG PRINCIPAL */

.layout-rodape {
    padding-top: 20px;
    padding-bottom: 30px;

    background-color: #000000; 
}

.container-rodape {
    margin: 0 auto;
    max-width: 80%;  

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info-empresa {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;

    color: #e6e6e6;
}

.redes-sociais {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;

    color: #e6e6e6;
}

.rodape-logo{
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* FIM LAYOUT RODAPÉ PAG PRINCIPAL */

/* COPYRIGHT */

.copyright {
    padding-top: 10px;
    padding-bottom: 4px;
    margin-bottom: -10px;

    text-align: center;

    background-color: #484848;
    color: #ffffff;
}

/* FIM COPYRIGHT */

/* LAYOUT RODAPÉ PÁG SOBRE */

.container-rodape-sobre{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;

    display: flex;
    align-items: center;
}

/* FIM RODAPÉ PAG SOBRE */

/*PESQUISA*/
.tipo{
    font-size: 4rem;
}
.preco{
    font-size: 10rem;
}

.descricao{
    font-size: 1.5rem;
}
.pesquisa{
    margin: 0;
}
.produtos{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.pokemon__view{
    text-align: center;
    align-items: center;
}
.pokemon__portrait{
    /* min-height: 163.92px;
    min-width: 204.9px; */
    height: 16vw;
    width: 13vw;
    background-image: url(../img/background.gif);
    background-size: 13vw 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.pokemon__image{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

#pokemon__form input{
    margin-bottom: 20px;
}

section{
    
}

/*FIM PESQUISA*/